/* colors removed
   header
   background-color: #4caf50;
   color: white;
   table
   border-bottom: 1px solid #ddd;
   background-color: #f2f2f2;
   hover
   background-color: #ddd;
   footer
   border-bottom: 2px solid #4caf50;
   buttons
   background-color: #4caf50;
   color: white;   
*/
